---
import { getLocale } from "astro-i18n-aut";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@src/consts";

const locale = getLocale(Astro.url);

type Props = {
	title?: string;
	description?: string;
	image?: string;
};

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props as Props;
---

<html lang={locale}>
	<head>
		<BaseHead title={title} description={description} image={image} />
		{/* Comment the line below if you want to remove client side routing */}
		<ViewTransitions />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Berkshire+Swash&family=Rasa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
